app-chart {
  .chart-div {
    padding: 30px;
    .color-bar {
      height: 5px;
      width: 30px;
      display: inline-block;
      vertical-align: middle;
    }
    table {
      font-size: 0.8rem;
      td {
        text-align: center;
      }
      thead {
        th {
          text-align: center;
        }
      }
    }
    #chart {
        margin-left: 90px; 
        height: inherit;
        width: inherit;

        .bar {
            fill: steelblue;
        }
        
        .bar:hover {
            fill: brown;
        }
        
        .axis--x path {
            display: none;
        }
        svg {
          font-family: Sans-Serif, Arial;
        }
        .line {
          stroke-width: 2;
          fill: none;
        }

        .axis path {
          stroke: black;
        }

        .text {
          font-size: 12px;
        }

        .title-text {
          font-size: 12px;
        }
    }
  }
}